.navdiv{
    background-color: #eeeeee;
    box-shadow: 10px 10px 40px grey;
}
.formdiv {
    border-radius: 20px;
    box-shadow: 10px 10px 40px grey;
}
.maindiv {
    background: #6441A5; 
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
.card,.teamcard {
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 5px 20px rgb(179, 179, 179);
}
.area{
    padding: 10px;
    background-color: #5d4195;
    border-radius: 10px 0px 0px 0px;
}
.area p {
    color: orange;
}
.area span {
    color: white;
}
.verticalclick {
    padding-top: 10%;
}
.verticalclick:hover{
    background-color: #e6e6e6;
    border-radius: 0px 20px 20px 0px;
}
.teamlist {
    border: 3px solid white;
    border-radius: 30px;
    margin-top: 10px;
    color: black;
    box-shadow: 10px 5px 20px rgb(179, 179, 179);
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #5d4195 0%, #ffffff 100%);


}
.cardholder {
    height: 1000px;
    overflow: auto;
}
.competionsdiv {
    border:5px solid white;
    border-radius: 30px;
    padding:20px;
    background-color:#5d4195;
}
.hidden {
    display: none;
}
.teamcard span {
    color: blue;
}
.teamcard p {
    font-size: 20px;
}
.teamtitle {
    background-color: #5d4195;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.flagdiv image {
    height: 300px;
}
.userfavdiv {
    text-align: center;
    border:5px solid white;
    border-radius: 30px;
    background-color:#5d4195;
}
.userfavdiv > div > div{
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;

}
.footerdiv {
    background-color: #bbbbbb;
}